@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container.flex.banner__container {
        padding: 30px 20px;
    }

    .container.flex.single-product {
        padding: 40px;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }

    header .container {
        padding: 0 20px;
    }

    .banner__container {
        padding: 30px;
    }

    .container.flex.single-product {
        padding: 40px;
    }

    .single-product--info h1 {
        font-size: 40px;
    }

    .single-product--info h4 {
        font-size: 25px;
        margin-top: 15px;
    }

    .single-product--info p {
        font-size: 15px;
    }
    
    .products__container {
        padding: 30px;
    }

    .products__container__list__product {
        width: 100%;
        flex-wrap: wrap;
    }

    .products__container__list__product--single {
        margin-top: 20px;
    }

    .login__container--form input,
    .login__container--form button, 
    .add-product__container--form input, 
    .add-product__container--form select, 
    .add-product__container--form textarea,
    .add-product__container--form button {
        width: 60%;
    }

    .quem-somos__data div {
        width: 170px
    }
    
    .quem-somos__data--info {
        margin: 7px 10px;
        padding: 15px;
    }

    .footer__col {
        padding: 0 20px;
    }

    .equipe__person {
        width: 188px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 900px) {

    .single-product--info h1 {
        font-size: 30px;
    }

    .single-product--info h4 {
        font-size: 20px;
        margin-top: 8px;
    }

    .single-product--info p {
        font-size: 13px;
        margin-top: 10px;
    }
    
    .products__container {
        padding: 30px;
    }

    .products__container__list__product {
        width: 100%;
        flex-wrap: wrap;
    }

    .products__container__list__product--single {
        margin-top: 20px;
        width: 18%;
    }

    .equipe__person {
        width: 165px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 768px) {

    .header__mobile {
        height: 80px;
    }

    .products__container--title h1 {
        line-height: 35px;
    }

    .header__desktop {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .header__mobile .container {
        justify-content: space-between;
    }
    
    .header__container--img {
        width: 35%;
        text-align: l;
    }

    .header__container--img img {
        width: 100%;
        max-width: 100%;
    }

    .header__container--button {
        width: 50%;
    }

    .header__container--button button {
        width: 130px;
    }

    .header_container--input--mobile {
        width: 10%;
    }

    .header_container--input--mobile--search {
        text-align: right;
    }

    .material-symbols-outlined {
        font-size: 28px;
    }

    .login__container--form h1,
    .add-product__container--form h1,
    .products__container--title h1 {
        font-size: 28px;
    }

    .login .container,
    .add-product .container {
        padding: 60px 0;
    }

    .products__container--title button{
        padding: 10px;
    }

    .products {
        padding-bottom: 25px;
    }

    .single-product {
        padding: 64px 20px;
    }

    .single-product--img img {
        text-align: center;
        width: 90%;
    }

    .single-product--info p {
        font-size: 13px;
    }
    
    .products__container {
        padding: 30px;
    }

    .products__container__list__product {
        width: 100%;
        flex-wrap: wrap;
    }

    .products__container__list__product--single {
        margin-top: 20px;
        width: 23%;
    }

    .products__container__list__product--single--title,
    .products__container__list__product--single--price {
        font-size: 12px;
    }

    .products__container__list__product--single--link {
        font-size: 14px;
    }

    .quem-somos__data {
        margin-top: -150px;
    }

    .quem-somos__data div {
        width: 170px
    }
    
    .quem-somos__data--info {
        margin: 7px 10px;
        padding: 15px;
    }

    .fale-conosco .container {
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .fale-conosco--img, .fale-conosco--info {
        width: 100%;
    }

    .fale-conosco--img {
        align-items: flex-end;
    }

    .fale-conosco--img img {
        width: 100%;
    }

    .fale-conosco--info h2 {
        font-size: 28px;
    }

    .fale-conosco--info button {
        margin-top: 20px;
    }

    .equipe__person {
        width: 280px;
        margin: 0 15px;
    }

    .equipe__person:nth-child(3),
    .equipe__person:nth-child(4) {
        margin-top: 70px;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__col {
        flex-wrap: wrap;
    }

    .footer__col--logo{
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__col--logo img{
        width: 40%;
    }

    .footer__col--menu,
    .footer__col--form {
        width: 50%;
    }
}

@media screen and (max-width: 620px) {

    .header__mobile {
        height: 70px;
    }

    .banner__container--title {
        font-size: 28px;
    }

    .products {
        padding-bottom: 10px;
    }

    .single-product {
        padding: 40px 20px;
        flex-wrap: wrap;
    }

    .single-product--img,
    .single-product--info {
        width: 100%;
    }

    .single-product--img img {
        text-align: center;
        width: 80%;
    }

    .single-product--info p {
        font-size: 14px;
    }
    
    .products__container {
        padding: 30px 0px;
    }

    .products__container__list__product {
        justify-content: space-around;
    }

    .products__container__list__product--single {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 30%;
        justify-content: space-between; 
    }

    .products__container__list__product--single--title,
    .products__container__list__product--single--price {
        font-size: 14px;
    }

    .products__container__list__product--single--link {
        font-size: 16px;
    }

    section .col__privacidade {
        padding: 30px 20px;
    }

    .col__privacidade--info h1 {
        font-size: 30px;
    }

    .col__privacidade--info h2 {
        font-size: 25px;
    }

    .col__privacidade--info p {
        font-size: 15px;
    }

    .equipe__person {
        width: 45%;
        margin: 0 10px;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__col {
        flex-wrap: wrap;
    }

    .footer__col--logo{
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__col--logo img{
        width: 40%;
    }

    .footer__col--menu,
    .footer__col--form {
        width: 50%;
    }

    .footer__col--form input[type="submit"] {
        width: 45%;
        padding: 8px 5px; 
    }

    #back-to-top {
        bottom: 30px;
        right: 30px;
        padding: 7px 9px;
        border-radius: 50%;
    }

}

@media screen and (max-width: 550px) {

    .header__mobile__fixed {
        padding: 15px 15px;
    }

    .header__mobile {
        height: 65px;
    }

    .header__container--button button {
        width: 90px;
        font-size: 12px;
        padding: 7px;
    }

    .single-product--img img {
        width: 100%;
    }

    .products__container__list__product--single {
        width: 45%;
    }

    .footer__col--logo img{
        width: 60%;
    }
}

@media screen and (max-width: 480px) {

.equipe__person {
    width: 100%;
    margin: 45px 15px 0 15px;
    }

    
    .fale-conosco {
        padding: 50px 0 30px 0;
    }

    .quem-somos__data div {
        width: 155px;
    }

    .quem-somos__data--info {
        margin: 7px 5px;
        padding: 10px 5px;
    }

    .quem-somos__data--info h3 {
        font-size: 27px;
    }

    .quem-somos__data--info h4 {
        font-size: 16px;
    }

    .equipe--title h2 {
        margin: 0 7px;
        font-size: 30px;
    }
}